.projects {
    background-color: inherit;
    padding: 94px 0px 70px;    
}

.project-cards {
    display: flex;
    flex-direction: row;   
    gap: 125px;
     
    width: 1015px;
    height: 500px;
    margin: 0px 212px 80px 213px;

    background-color: inherit;          
}

.card-image {
    width: 540px;
    height: 500px;
}

.project-button {
    width: 175px;
    height: 48px;    
    background-color: inherit; 
}

.project-button h1 {    
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
    cursor: pointer;
}

.margin-project-button-middle {
    margin: 54px 0px 103px;
}

.margin-project-button-short {
    margin: 24px 0px 103px;   
}

.card-title {
    margin: 103px 0px 28px;

    font-family: 'Ibarra Real Nova', sans-serif;   
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}

.card-description {   
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
}